.collaborations {
	.centered-btn {
		margin-bottom: 36px;
	}
}

.the-team.about {
background-color: #EEEEEE;
padding: 60px 0;
}

.the-team.advisors {
padding: 60px 0;
}

.alternate-grid {
	li {
		padding-right: 10px;
	}
	.person-container {
		background-color: #EEEEEE;
		padding: 10px;
		.advisor-pic {
			display: inline-block;
			float: left;
			margin-top: 7px;
		}
		.right-about {
			padding-left: 90px;
		}
	}
}

	.team-pic {
		display: inline-block;
		float: left;
		padding-top: 10px;
	}

	.person-about {
		padding-left: 170px;
	}