.phone-info {
	font-weight: 300;
	span {
		display: block;
		margin-bottom: 15px;
		padding-left: 70px;
		line-height: 24px;
	}
}

.map-picture {
	padding-right: 60px;
	padding-top: 20px;
	@media only screen and (max-width: 700px) { 
	padding-right: 0;
	margin-bottom: 20px;
	}
}

.phone-svg {
	position: absolute;
	width: 40px;
	@media only screen and (max-width: 700px) { 
		left: 20px;
	}
}

.address-svg {
	position: absolute;
	top: 200px;
	width: 32px;
	@media only screen and (max-width: 700px) { 
	top: 210px;
	left: 20px;
	}
}

.address {
	padding-top: 15px;
}

.submit-btn {
		text-decoration: none !important;
		padding-left: 3rem;
		padding-right: 3rem;
		font-weight: 300 !important;
		@media only screen and (max-width: 700px) { 
			padding: 16px 110px !important;
	}
}

.contact-row {
	margin-bottom: 160px;
	@media only screen and (max-width: 700px) { 
		margin-bottom: 50px;
	}
}

.location-info-header {
	@media only screen and (max-width: 700px) { 
		padding-left: 10px;
		font-size: 24px;
	}
}

.send-note {
	@media only screen and (max-width: 700px) { 
		font-size: 24px;
	}
}
