section {
	margin-bottom: 60px;
}

.last {
	margin-bottom: 200px !important;
}
.content-row {
		margin-bottom: 60px;
	}
.child-header-container {
	background-color: gray;
	height: 300px;
	margin-bottom: 60px;
	.hero-title {
		color: white;
		text-align: center;
		padding-top: 80px;
	}
	.header-subtitle {
		color: white;
		font-size: 24px;
		text-align: center;
		margin-bottom: 20px;

	}
}

.wrapper-container {
	background: url('/assets/images/home-hero.png')  no-repeat center center;
	height: 400px;
	margin-bottom: 60px;
	.hero-title {
		color: white;
		text-align: center;
		padding-top: 100px;
	}
	.header-subtitle {
		color: white;
		font-size: 24px;
		text-align: center;
		margin-bottom: 20px;

	}
	@media only screen and (max-width: 700px) { 
	 .hero-title {
	 	padding-top: 30px;
	 }
	 .header-subtitle {
	 	font-size: 18px;
	 }
	} 
}

	.centered-btn {
		text-align: center;
		margin: 0 auto;
		a {
			font-weight: 200 !important;
			text-transform: uppercase;
		}
	}


.larger-body-text {
	font-size: 16px;
	font-weight: 300;

}


.section-header {
	text-align: center;

}
.section-subheader {
	text-align: center;
	margin-bottom: 50px;
}
.main-content {
	font-size: 18px;
	font-weight: 300;
}

.about-circuit {
	.about-category {
		img {
			margin: 0 auto;
			text-align: center;
			display: block;
			margin-bottom: 20px;
			&.light-bulb {
				width: 25%;
			}
			&.partners {
				width: 34%;
			}
			&.heart {
				width: 24%;
			}
		}
	}
	p {
		font-weight: 300;
		font-size: 14px;
	}

	.about-item-title {
		text-align: center;
	}
}
.half-image {
	background-color: gray;
	height: 300px;
	weight: 200px;
}
.how-it-works {
	
	.research {
		padding-left: 60px;
	}
}

	.about-item-image {
		height: 200px;
		width: 300px;
		background-color: gray;
		margin-bottom: 20px;
	}
// The team

.the-team {
	.team-pic {
		height:200px;
		width: 180px;
		background-color: gray;
	}
}

// The press

.in-the-press {
	.row-margin {
		margin-bottom: 60px;
	}
	.quoted-text {
		font-style: italic;
	}

	.source {
		font-weight: 300;
	}

	.image {
		width: 300px;
		height: 200px;
		background-color: gray;
	}
}
