section {
	margin-bottom: 60px;
	@media only screen and (max-width: 700px) { 
		margin-bottom: 30px;
	}
}
.no-bottom {
	margin-bottom: 0px !important;
}
.white {
	color: white;
}
.blue {
	color: #05568B;
}
.last {
	margin-bottom: 130px !important;
}
.content-row {
		margin-bottom: 60px;
		@media only screen and (max-width: 700px) { 
			margin-bottom: 10px;
			h3 {
				padding-top: 10px;
			}
		}
	}
.child-header-container {
	background: url('../assets/images/home-hero.png')  no-repeat center center;
	height: 300px;
	margin-bottom: 60px;
	.hero-title {
		color: white;
		text-align: center;
		padding-top: 80px;
		 -webkit-font-smoothing: antialiased;
		 @media only screen and (max-width: 700px) { 
			padding-top: 30px;
		 }
	}
	.header-subtitle {
		color: white;
		font-size: 24px;
		text-align: center;
		margin-bottom: 20px;
		 -webkit-font-smoothing: antialiased;
	}
	@media only screen and (max-width: 700px) { 
		height: 100%;
		margin-bottom: 30px;
		padding-bottom: 20px;
	}
}

.custom-btn {
  @include button-base;
  @include button-size;
  @include button-style( rgba(0, 0, 0, 0), 2px);
  border: 2px solid white;
  @include single-transition;
  &:hover {
  }
}
.button {
	@media only screen and (max-width: 700px) { 
	padding: 16px 80px !important;
	}
}

.alternate {
	background-color: #DBE6EC;
	color: #6c6868;
}

.wrapper-container {
	background: url('../assets/images/home-hero.png')  no-repeat center center;
	height: 400px;
	margin-bottom: 60px;
	.hero-title {
		color: white;
		text-align: center;
		padding-top: 100px;
		-webkit-font-smoothing: antialiased;
	}
	.header-subtitle {
		color: white;
		font-size: 24px;
		text-align: center;
		margin-bottom: 20px;
		-webkit-font-smoothing: antialiased;
	}
	@media only screen and (max-width: 700px) { 
	 .hero-title {
	 	padding-top: 30px;
	 }
	 .header-subtitle {
	 	font-size: 18px;
	 }
	} 

	@media only screen and (max-width: 700px) { 
		margin-bottom: 30px !important;
		height: 100%;
		padding-bottom: 20px;
	}
}

	.centered-btn {
		text-align: center;
		margin: 0 auto;
		a {
			font-weight: 400 !important;
			text-transform: uppercase;
			background-color: none;
			-webkit-font-smoothing: antialiased;
		}
	}


.larger-body-text {
	font-size: 16px;
	font-weight: 300;

}


.section-header {
	text-align: center;
	-webkit-font-smoothing: antialiased;
	@media only screen and (max-width: 700px) { 
		text-align: left;
		padding-left: 5px;
	}
}
.section-subheader {
	text-align: center;
	margin-bottom: 50px;
	-webkit-font-smoothing: antialiased;
	@media only screen and (max-width: 700px) { 
		margin-bottom: 20px;
		text-align: left;
		padding-left: 5px;
	}
}
.main-content {
	font-size: 16px;
	padding-right: 40px;
	font-weight: 300;
	color: #3f3f3f;
	-webkit-font-smoothing: antialiased;
	@media only screen and (max-width: 700px) { 
		padding-right: 0px !important;
		text-align: left;	
		padding-left: 15px;
	}
}

.about-circuit {
	margin-bottom: 50px;
	.about-category {
		img {
			margin: 0 auto;
			text-align: center;
			display: block;
			margin-bottom: 20px;
			&.light-bulb {
				
				// margin-bottom: 10px !important;
			}
			&.partners {
				
			}
			&.heart {
				
			}
		}
		p {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	p {
		font-weight: 300;
		font-size: 14px;
		@media only screen and (max-width: 700px) { 
			font-size: 16px !important;
			text-align: left!important;
			padding-bottom: 20px;
			padding-left: 20px;
		}
	}

	.about-item-title {
		text-align: center;
	}
	@media only screen and (max-width: 700px) { 
		margin-bottom: 0px;	
		}
}
.half-image {
	background-color: gray;
	height: 300px;
	weight: 200px;
}
.how-it-works {
	background-color: #EEEEEE;
	padding: 40px 0;
	// margin-bottom: 0px !important;
	.research {
		padding-left: 60px;
		@media only screen and (max-width: 700px) { 
			padding-left: 0px;
			text-align: center;	
		}
	}
	@media only screen and (max-width: 700px) { 
		padding: 20px;
		padding-left: 0px !important;
		img {
			margin-bottom: 10px;
		}
		}
}

.research-pic {
	@media only screen and (max-width: 700px) { 
		padding-left: 14px;
	}
}
	.about-item-image {
		height: 200px;
		width: 300px;
		background-color: gray;
		margin-bottom: 20px;
	}
//  The Team
.alternate-grid {
	li {
		padding-right: 10px !important;
		@media only screen and (max-width: 700px) { 
		width: 100%;
		}
	}
	.person-container {
		background-color: #EEEEEE;
		padding: 10px;
		height: 108px;
		.advisor-pic {
			display: inline-block;
			float: left;
			margin-top: 7px;
			@media only screen and (max-width: 700px) { 
			margin-right: 15px;
			}
		}
		.right-about {
			padding-left: 90px;
			padding-right: 5px;
			@media only screen and (max-width: 700px) { 
				padding-left: 60px;
			}
		}
		@media only screen and (max-width: 700px) { 
		.name {padding-left: 10px;}
		padding: 11px 5px 5px;
		}
	}
}


// The press

.in-the-press {
	background-color: #EEEEEE;
	margin-bottom: 0px;
	padding: 60px 0;
	.row-margin {
		margin-bottom: 20px;
	}
	@media only screen and (max-width: 700px) { 
			.mobile-left {
				padding-left: 12px;
				padding-bottom: 0px !important;
				margin-bottom: 10px;
			}
		}
	.quoted-text {
		font-style: italic;
		font-weight: 300;
		color: #6d6d6d;
	}

	.source {
		font-weight: 300;
	}

	.image {
		width: 300px;
		height: 200px;
		background-color: gray;
	}

	.logo-image {
		padding-top: 20px;
	}
	@media only screen and (max-width: 700px) { 
		padding: 30px 0 !important;
	}
}

.small-pic-placeholder {
	width: 75px;
	height: 75px;
	background-color: gray;
}

.news-snippet {
	@media only screen and (max-width: 700px) { 
		padding-left: 0px;
		padding-left: 0px;
		padding-bottom: 19px;
		padding-top: 10px;
	}
}

.new-job {
	p { color: #222222;
		&:hover {
			color: #05568b;
			text-decoration: underline;
		}
	}
}


.see-the-team {
	padding-top: 20px;
	margin-bottom: 30px;
}