.job-row {
	margin-bottom: 25px;
	.job-category-title {
		padding-top: 12px;
	}
}
.job-category-title {
	font-weight: 500;
}

.job-container {
	background-color: #EEEEEE;
	padding: 30px;
	margin-bottom: 20px;
	p {
		font-size: 12px;
	}
	ul {
		li {
			font-size: 12px;
		}
	}
	h6 {
		font-weight: 400;
		padding-top: 15px;
	}
	@media only screen and (max-width: 700px) { 
		height: 100%;
	}
}

.job-bottom {
	padding-bottom: 201px;
}

.inquire {
	font-size: 14px;
	padding: 15px 50px;
	text-decoration: none !important;
}