.top-nav {
	z-index: 99999;
	background-color: white;
	height: 60px;
		.logo {
		height: 40px;
		margin-top: 8px;
	}
}
.nav {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	float: right;
	padding-top: 11px;
	li {
		display: inline;
		text-transform: uppercase;
		a {
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			padding: 10px;
			font-weight: 500;
			color: #595757;
			font-size: 12px;
			&:hover {
				text-decoration: underline;
			}
		}
	}

}

@media only screen and (max-width: 700px) { 
  .nav {
  	display: none;
  }
 }