.news-image {
	height: 150px;
	width: 300px;
	background-color: gray;
}

.press-releases {
	margin-bottom: 60px;
	.content-right {
		padding-left: 60px;
		@media only screen and (max-width: 700px) { 
		padding-left: 15px;
		padding-top: 20px;
		}
	}
	@media only screen and (max-width: 700px) { 
		margin-bottom: 20px;
		img {
			padding-left: 5px !important;
			padding-top: 10px;
		}
	}
}

.publication-image {
	height: 120px;
	width: 100px;
	background-color: gray;
}

.inc-logo {
	padding-left: 30px;
	padding-top: 46px;
}

.tech-crunch {
	padding-left: 30px;
	padding-top: 46px;
}

.gigaom {
	padding-left: 20px;
	padding-top: 46px;
}

.paper {
	padding-left: 10px !important;
}

.main-section {
	h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	}
	a {
		text-decoration: none !important;
	}
}

@media only screen and (max-width: 700px) { 
	.publication-title {
		padding-left: 15px;
		display: none;
	}
	hr {
		margin: 0px;
	}
	.publications {
		padding-top: 0px !important;
	}
}




