
html, body {
	height: 100%;
}

.centered {
	text-align: center;
}

.footer-background {
	height: 60px;
	background-color: white;
	position: relative;
	z-index: 99999;
	.copyright {
		font-size: 12px;
		padding-top: 25px;
		color: white;
		font-weight: 300;
		float: left;
	}
}

.footer-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	float: center;
	padding-top: 11px;
	background-color: white;
	z-index: 99999;
	li {
		display: inline;
		text-transform: uppercase;
		a {
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			padding: 10px;
			font-weight: 500;
			color: #595757;
			font-size: 12px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.top-nav2 {
	z-index: 99999;
	background-color: white;
	height: 80px;
		.logo {
		height: 40px;
		margin-top: 18px;
	}
}


#wrapper {
	min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  position: relative;
}

.push {
	height: 60px;
}

.background-photo {
	margin-bottom: 0px !important;
	height: 100%;
	.hero-title {
		color: white;
		text-align: center;
		
		 -webkit-font-smoothing: antialiased;
	}
	.header-subtitle {
		color: white;
		font-size: 24px;
		text-align: center;
		margin-bottom: 20px;
		 -webkit-font-smoothing: antialiased;
	}
	@media only screen and (max-width: 700px) { 
		.hero-title {
		padding-top: 80px;
		}
	} 
}


.absolutecentercontent .Absolute-Center.is-Variable {
  display: table;
  height: auto;
}

.Absolute-Center { 
  height: 50%; /* Set your own height: percents, ems, whatever! */
  width: 100%; /* Set your own width: percents, ems, whatever! */
  overflow: auto; /* Recommended in case content is larger than the container */
  margin: auto; /* Center the item vertically & horizontally */
  position: absolute; /* Break it out of the regular flow */
  top: 0; left: 0; bottom: 0; right: 0; /* Set the bounds in which to center it, relative to its parent/container */
}

.Center-Container {
	position: relative;
}

	