

.bottom-space {
	margin-bottom: 100px;
}

.main-section {
	p {
		font-weight: 300;
	}
	a {
		font-weight: 300;
		text-decoration: underline;
	}
	.left-text {
		padding-right: 80px;
	}
	.right-text {
		padding-left: 80px;
	}
}

.bottom-action {
	background-color: #EEEEEE;
	padding: 60px 0;
	margin: 0px;
}

