body {
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 font-weight: 300;

	p {
		font-size: 14px !important;
		font-weight: 300 !important;
	}

}
